TRIPTRACER_MYSQL_DATABASE=triptracer
TRIPTRACER_MYSQL_USER=triptracer
TRIPTRACER_MYSQL_PASSWORD=triptracer_dev_password
TRIPTRACER_MYSQL_ROOT_PASSWORD=triptracer_root_password
TRIPTRACER_ELASTIC_PASSWORD=triptracer_es_password
MINIO_ROOT_USER=triptracer
MINIO_ROOT_PASSWORD=triptracer_minio_password
